@font-face {
  font-family: 'Ureg';
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubold';
  font-display: swap;
  src: url("../fonts/Ubuntu-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubold2';
  font-display: swap;
  src: url("../fonts/agfatumc-bold.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: auto;
  overflow-x: hidden;
  height: auto;
  color: #000;
  font-family: "Ureg", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  -ms-overflow-style: scrollbar;
}

a, a:hover, a:active, a:link, a:focus {
  text-decoration: none;
  outline: none;
}

ol, ul {
  list-style: none;
  font-size: 18px;
}

div, span, article, nav, section, main, header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, button, select, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid red;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

h1, h2, h3, h4, h5 {
  font-size: 28px;
  width: 100%;
  font-family: "Ubold", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.button {
  border: 0;
  background-color: #dd4127;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  min-height: 50px;
  border-radius: 13px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  max-width: 380px;
}

.button:hover {
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #2c2c2c;
}

.title {
  font-family: "Ubold2", sans-serif;
  font-size: 24px;
  text-align: center;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.header {
  background-image: url(../img/header.jpg);
  background-position: 0 -300px;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

.header-title {
  margin-top: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Ubold2", sans-serif;
  color: #ffffff;
  max-width: 760px;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 60px;
}

.header-title a {
  height: 80px;
  width: 280px;
  font-size: 20px;
  font-family: "Ubold", sans-serif;
}

.header-nav {
  margin-top: 15px;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav ul li a {
  color: #fff;
  font-family: "Ubold", sans-serif;
  margin: 0 10px;
  font-size: 16px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header-nav ul li a:hover {
  color: #dd4127;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header-wrap {
  min-height: 190px;
  background-image: url(../img/bg-head.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  margin-top: -20px;
}

.header-wrap_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-wrap_contacts span:first-child a {
  font-size: 24px;
  font-family: "Ubold", sans-serif;
  color: #000000;
  position: relative;
}

.header-wrap_contacts span:first-child a:after {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: -25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/icons/phone.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-wrap_contacts span:last-child a {
  font-size: 14px;
  color: #000;
}

.header-wrap_contacts span a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-wrap_contacts span a:hover {
  color: #dd4127;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-wrap_adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 30px;
  position: relative;
}

.header-wrap_adress span:first-child {
  margin-bottom: 10px;
  position: relative;
}

.header-wrap_adress span:first-child:after {
  position: absolute;
  content: '';
  height: 20px;
  width: 15px;
  left: -25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/icons/map.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-wrap_adress span:last-child {
  position: relative;
}

.header-wrap_adress span:last-child:after {
  position: absolute;
  content: '';
  height: 17px;
  width: 17px;
  left: -25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/icons/clock.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-wrap-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrap_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.header-wrap_logo img {
  max-width: 60px;
  height: auto;
  margin-right: 20px;
}

.header-calc {
  background-image: url(../img/bg-calc.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-color: transparent;
  min-height: 400px;
  margin-top: 200px;
  padding: 60px 0;
  z-index: 10111;
}

.header-calc-wrap {
  margin-top: 40px;
}

.header-calc-wrap-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-calc-wrap-form_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-basis: 48%;
  margin-bottom: 20px;
}

.header-calc-wrap-form_input label {
  width: 100%;
  text-align: start;
  padding-left: 18%;
  position: relative;
}

.header-calc-wrap-form_input label:after {
  position: absolute;
  content: '';
  height: 13px;
  width: 20px;
  right: 100px;
  bottom: -35px;
  background-image: url(../img/icons/prev.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-calc-wrap-form_input input {
  height: 50px;
  padding: 20px;
  width: 70%;
  font-size: 18px;
  border-radius: 13px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.header-calc-wrap-form_input select {
  height: 50px;
  padding: 0 20px;
  width: 70%;
  font-size: 18px;
  border-radius: 13px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.header-calc-wrap-form button {
  margin: 30px auto;
  margin-top: 20px;
  font-family: "Ubold", sans-serif;
  height: 60px;
  width: 240px;
  font-size: 18px;
}

.features {
  z-index: -10;
  background-color: #000;
  padding-bottom: 40px;
  padding-top: 40px;
}

.features div.title {
  color: #ffffff;
  margin-bottom: 60px;
}

.features div.title strong {
  color: #dd4127;
  font-family: "Ubold2", sans-serif;
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features-wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-bottom: 30px;
}

.features-wrap-item img {
  max-width: 80px;
  margin-right: 20px;
}

.features-wrap-item p {
  color: #fff;
}

.work {
  padding: 50px 0;
}

.work div.title {
  margin-bottom: 50px;
}

.work-wrap {
  position: relative;
  margin-bottom: 30px;
}

.work-wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.work-wrap-item-left img {
  width: 100%;
  height: 100%;
}

.work-wrap-item-right {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.work-wrap-item-right div.title {
  text-align: left;
  font-size: 20px;
  line-height: 22px;
}

.work-wrap-item-right-text p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 18px;
}

.work-wrap-item-right-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.work-wrap-item-right-avatar img {
  max-width: 100px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

div.slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slick-prev, .slick-next {
  position: absolute;
  left: -50px;
  font-size: 0;
  height: 60px;
  width: 36px;
  background-image: url(../img/icons/chevron-right-solid.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.slick-prev:focus, .slick-next:focus {
  outline: none;
}

.slick-next {
  left: auto;
  right: -50px;
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 0;
  background-color: #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 0;
}

.slick-dots li.slick-active button {
  background-color: #dd4127;
}

.ethaps {
  padding-bottom: 100px;
}

.ethaps-maz {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ethaps-maz img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 100%;
}

.ethaps-maz p {
  max-width: 400px;
  z-index: 10;
  font-family: "Ubold2", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-top: 60px;
  margin-right: 170px;
}

.ethaps-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/steps/step1.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 40px;
  padding: 30px;
  background-position: center center;
}

.ethaps-item-left {
  margin-left: 200px;
  font-size: 14px;
}

.ethaps-item-left p {
  margin: 10px 0;
}

.ethaps-item-right {
  margin-right: 40px;
  margin-left: 20px;
}

.ethaps-item-right img {
  max-width: 230px;
}

.ethaps div.title {
  margin: 10px 0;
  font-family: "Ubold2", sans-serif;
}

.ethaps div:nth-child(3) {
  margin-top: 80px;
}

.ethaps div:nth-child(5) {
  background-image: url(../img/steps/step3.png);
}

.ethaps div:nth-child(4) {
  background-image: url(../img/steps/step2.png);
}

.ethaps div:nth-child(4) div.ethaps-item-left {
  margin: 0 200px 0 0;
}

.ethaps div:nth-child(4) div.ethaps-item-right {
  margin: 0 20px;
}

.ethaps div:nth-child(6) {
  background-image: url(../img/steps/step4.png);
  background-size: contain;
}

.ethaps div:nth-child(6) div.ethaps-item-left {
  margin: 0 220px 0 0;
}

.ethaps div:nth-child(6) div.ethaps-item-right {
  margin: 0 20px 0 50px;
}

.js {
  background-image: url(../img/js.jpg);
  background-repeat: no-repeat;
  min-height: 600px;
  background-size: contain;
  background-position: center center;
  margin: 50px auto;
  position: relative;
}

.js-plus {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 50px;
  font-size: 24px;
  font-family: "Ubold2", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(221, 65, 39, 0.5);
  color: #ffffff;
  border-radius: 50%;
  border: 4px solid #fff;
  padding-bottom: 3px;
  padding-left: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10;
}

.js-plus:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #2c2c2c;
  border: 4px solid #dd4127;
  color: #dd4127;
}

.js-plus-text {
  position: absolute;
  right: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  min-width: 100px;
  width: 200px;
  padding: 10px 20px 10px 50px;
  background-color: #fff;
  color: #000000;
  border-radius: 13px;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.js-plus-text:after {
  position: absolute;
  right: -5px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  height: 20px;
  width: 20px;
  background-color: #fff;
  content: '';
}

.js-title {
  text-align: center;
}

.js-title div.title {
  margin: 0;
  margin-bottom: 15px;
}

.item1 {
  top: 40px;
  left: 510px;
}

.item2 {
  top: 190px;
  left: 710px;
}

.item3 {
  top: 280px;
  right: 210px;
}

.item4 {
  top: 250px;
  left: 260px;
}

.item5 {
  top: 380px;
  left: 520px;
}

.item6 {
  bottom: 40px;
  right: 200px;
}

.package {
  padding: 50px 0;
}

.package div.title {
  margin-bottom: 0;
}

.package div.text {
  font-size: 14px;
  margin-top: 15px;
  padding-left: 15px;
  text-align: center;
  max-width: 500px;
  margin: 15px auto;
  font-family: "Ubold", sans-serif;
}

.package-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.package-wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 30px;
  background-color: #dd4127;
  border-radius: 13px;
  position: relative;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.package-wrap-item:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #2c2c2c;
}

.package-wrap-item:hover button {
  background-color: #dd4127;
}

.package-wrap-item p {
  margin: 10px 0;
  padding: 0 15px;
  color: #ffffff;
}

.package-wrap-item div.ot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-family: "Ubold", sans-serif;
  color: #000;
  padding: 30px 0;
  background-image: url(../img/remont.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.package-wrap-item div.title {
  color: #ffffff;
  margin-bottom: 30px;
}

.package-wrap-item button {
  margin-top: 20px;
  background-color: #2c2c2c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Ubold", sans-serif;
  font-size: 18px;
}

.package-wrap-item button:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #fff;
  color: #000;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 60px;
}

.question-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: auto;
}

.question-wrap div.title {
  margin-bottom: 20px;
}

.question-wrap-title {
  font-size: 18px;
  cursor: pointer;
  font-family: "Ubold", sans-serif;
  color: #2c2c2c;
  padding: 20px;
  width: 100%;
  position: relative;
}

.question-wrap-title:before {
  position: absolute;
  right: 10px;
  content: '';
  height: 9px;
  width: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
  background-image: url(../img/icons/prev.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.question-wrap-title:after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #2c2c2c;
  content: '';
  bottom: 0;
  left: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.question-wrap-text {
  font-size: 16px;
  padding-left: 30px;
  padding-right: 60px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.question-wrap-text:after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #2c2c2c;
  content: '';
  bottom: 0;
  left: 0;
}

.question-wrap-title-active:before {
  position: absolute;
  right: 10px;
  content: '';
  height: 9px;
  width: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  background-image: url(../img/icons/prev.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.question-wrap-title-active:after {
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #dd4127;
  content: '';
  bottom: 0;
  left: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.about {
  padding: 50px 0;
  padding-top: 20px;
}

.about div.title {
  margin: 20px 0;
  margin-bottom: 40px;
}

.about p {
  font-size: 18px;
  line-height: 24px;
}

.about ul {
  margin: 20px 0;
}

.about ul li {
  margin: 15px 0;
  padding-left: 30px;
  font-family: "Ubold", sans-serif;
  position: relative;
}

.about ul li:after {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/icons/check-solid.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-img {
  margin: auto;
  text-align: center;
}

.about-img img {
  max-width: 700px;
  margin: auto;
}

.comand {
  padding: 50px 0;
}

.comand-text {
  font-size: 22px;
  font-family: "Ubold", sans-serif;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
}

.comand-item {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comand-item-right {
  background-color: #f4f3f4;
  border-radius: 13px;
  padding: 30px;
  position: relative;
}

.comand-item-right:after {
  position: absolute;
  content: '';
  height: 60px;
  width: 60px;
  left: -10px;
  top: 80%;
  -webkit-transform: translateY(-50%) rotate(65deg);
          transform: translateY(-50%) rotate(65deg);
  background-color: #f4f3f4;
  z-index: -1;
}

.comand-item-right div.title {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 20px;
}

.comand-item-right p {
  margin-top: 30px;
}

.comand-item-left img {
  max-width: 200px;
  margin: 0 30px;
}

.comand div:nth-child(3) div.comand-item-right:after {
  left: auto;
  right: -10px;
  top: 80%;
  -webkit-transform: translateY(-50%) rotate(-65deg);
          transform: translateY(-50%) rotate(-65deg);
  background-color: #f4f3f4;
  z-index: -1;
}

.footer {
  background-color: #2c2c2c;
  padding: 50px 0;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-wrap-left {
  color: #fff;
  font-family: "Ubold", sans-serif;
  font-size: 18px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-wrap-left p {
  margin: 10px 0;
}

.footer-wrap-left a {
  color: #dd4127;
  padding-left: 40px;
  position: relative;
  margin-top: 15px;
  font-family: "Ubold", sans-serif;
  font-size: 24px;
}

.footer-wrap-left a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 24px;
  width: 32px;
  background-image: url(../img/icons/mail.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-wrap-right {
  color: #fff;
  font-family: "Ubold", sans-serif;
  font-size: 18px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-wrap-right p {
  margin: 10px 0;
}

.footer-wrap-right a {
  color: #dd4127;
  padding-left: 40px;
  position: relative;
  margin-top: 15px;
  font-family: "Ubold", sans-serif;
  font-size: 24px;
}

.footer-wrap-right a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 24px;
  width: 24px;
  background-image: url(../img/icons/phone.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.overlay-active {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.popup {
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-550%, -50%);
          transform: translate(-550%, -50%);
  background-color: #2c2c2c;
  padding: 40px;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.popup-close {
  position: absolute;
  color: #fff;
  font-size: 28px;
  font-family: "Ubold", sans-serif;
  right: 10px;
  top: 10px;
}

.popup-close:hover {
  cursor: pointer;
  color: #dd4127;
}

.popup div.title {
  font-size: 18px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
  line-height: 24px;
}

.popup small {
  color: #fff;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup small a {
  color: #dd4127;
}

.popup label {
  color: #fff;
  text-align: center;
}

.popup input {
  padding: 15px 20px;
  border-radius: 13px;
  margin-bottom: 20px;
  border: none;
}

.popup input[type="submit"] {
  margin-top: 10px;
  padding: 20px;
  cursor: pointer;
  font-family: "Ubold", sans-serif;
  font-size: 18px;
}

.popup input[type="submit"]:hover {
  background-color: #fff;
  color: #000;
}

.popup-calc {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-550%, -50%);
          transform: translate(-550%, -50%);
  background-color: #2c2c2c;
  padding: 40px;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.popup-calc-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  padding: 0 10px;
}

.popup-calc-text div.title {
  font-size: 16px;
  margin-bottom: 10px !important;
}

.popup-calc-text div {
  margin: 2px 0;
}

.popup-calc-close {
  position: absolute;
  color: #fff;
  font-size: 28px;
  font-family: "Ubold", sans-serif;
  right: 10px;
  top: 10px;
}

.popup-calc-close:hover {
  cursor: pointer;
  color: #dd4127;
}

.popup-calc div.title {
  font-size: 18px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
  line-height: 24px;
}

.popup-calc small {
  color: #fff;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-calc small a {
  color: #dd4127;
}

.popup-calc label {
  color: #fff;
  text-align: center;
}

.popup-calc input {
  padding: 15px 20px;
  border-radius: 13px;
  margin-bottom: 20px;
  border: none;
}

.popup-calc input[type="submit"] {
  margin-top: 20px;
  padding: 20px;
  cursor: pointer;
  font-family: "Ubold", sans-serif;
  font-size: 18px;
}

.popup-calc input[type="submit"]:hover {
  background-color: #fff;
  color: #000;
}

.popup-active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#toggle {
  display: none;
}

@media (max-width: 1199px) {
  .js {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  .header-title {
    margin-top: 160px;
  }
  .header-calc {
    margin-top: 160px;
    background-size: cover;
  }
  .work-item-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 38%;
        flex-basis: 38%;
    width: 100%;
  }
  .work-item-left-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 58%;
        flex-basis: 58%;
  }
  .ethaps-maz p {
    font-size: 14px;
  }
  .ethaps-item-left {
    margin-left: 140px;
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .about {
    padding-top: 0;
  }
  .question-wrap {
    width: 100%;
  }
  .package {
    padding-top: 0;
  }
  .package-wrap-item {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    padding: 20px 10px;
  }
  .js {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .item1 {
    top: 120px;
    left: 510px;
  }
  .item2 {
    top: 260px;
    left: 610px;
  }
  .item3 {
    top: 220px;
    right: 240px;
  }
  .item4 {
    top: 250px;
    left: 180px;
  }
  .item5 {
    top: 300px;
    left: 370px;
  }
  .item6 {
    bottom: 90px;
    right: 160px;
  }
  .ethaps-maz p {
    margin-top: 45px;
    margin-right: 20px;
    font-size: 12px;
    line-height: 14px;
  }
  .ethaps div:nth-child(3) {
    margin-top: 80px;
  }
  .ethaps div:nth-child(5) {
    background-image: none;
  }
  .ethaps div:nth-child(4) {
    background-image: none;
  }
  .ethaps div:nth-child(4) div.ethaps-item-left {
    margin: 0;
  }
  .ethaps div:nth-child(4) div.ethaps-item-right {
    margin: 0 20px;
  }
  .ethaps div:nth-child(6) {
    background-image: none;
  }
  .ethaps div:nth-child(6) div.ethaps-item-left {
    margin: 0;
  }
  .ethaps div:nth-child(6) div.ethaps-item-right {
    margin: 0;
  }
  .ethaps-item {
    padding: 15px;
    background-image: none;
    margin-bottom: 0;
  }
  .ethaps-item-left {
    margin-left: 0;
    background-image: none !important;
  }
  .ethaps-item-left div.title {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  .ethaps-item-left p {
    font-size: 14px;
    padding: 20px;
    margin: 0;
  }
  .work-item-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work-item-left img {
    max-width: 320px;
  }
  .work-wrap {
    margin-bottom: 0;
  }
  .work-wrap-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work-wrap-item-right {
    padding-top: 15px;
  }
  .work-wrap-item-right div.title {
    text-align: center;
    margin-bottom: 20px;
  }
  .features-wrap-item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .features-wrap-item p {
    font-size: 12px;
  }
  .features-wrap-item img {
    max-width: 60px;
  }
  .header-calc {
    margin-top: 100px;
  }
  .header-calc-wrap-form_input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header-calc-wrap-form_input label:after {
    right: 130px;
  }
  .header-title {
    margin-top: 100px;
  }
  .header-title h1 {
    font-size: 34px;
    line-height: 38px;
  }
  .header-wrap_button {
    margin-top: 30px;
  }
  .header-wrap_contacts {
    padding-left: 40px;
  }
  .header-wrap_contacts span:first-child a {
    font-size: 18px;
  }
  .header-wrap_contacts span:last-child a {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 0;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .package {
    padding-bottom: 0;
  }
  .package-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .package-wrap-item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-bottom: 30px;
  }
  .js {
    background-position: top left;
    margin-top: 20px;
    min-height: 390px;
    background-size: cover;
    margin-bottom: 30px;
  }
  .item1 {
    top: 20px;
    right: 20px;
    left: auto;
  }
  .item2 {
    top: 80px;
    right: 20px;
    left: auto;
  }
  .item3 {
    top: 140px;
    right: 20px;
    left: auto;
  }
  .item4 {
    top: 200px;
    right: 20px;
    left: auto;
  }
  .item5 {
    top: 260px;
    right: 20px;
    left: auto;
  }
  .item6 {
    top: 320px;
    right: 20px;
    left: auto;
  }
  .ethaps {
    padding-bottom: 30px;
  }
  .ethaps-item-left p {
    padding: 0;
    padding-top: 20px;
  }
  .ethaps div:nth-child(3) {
    margin-top: 20px;
  }
  .features-wrap-item {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  #toggle {
    display: block;
    position: fixed;
    right: 40px;
    top: 40px;
  }
  #toggle span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 4px;
    width: 30px;
    margin: 3px 0;
    background-color: #2c2c2c;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    top: 0;
    right: 0;
  }
  #toggle span:nth-child(2) {
    top: 8px;
  }
  #toggle span:nth-child(3) {
    top: 16px;
  }
  .toggle-active span:nth-child(1) {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    position: absolute;
    top: 10px !important;
  }
  .toggle-active span:nth-child(2) {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    position: absolute;
    top: 10px !important;
  }
  .toggle-active span:nth-child(3) {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
    position: absolute;
    top: 10px !important;
  }
  .header-nav {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 70%;
    display: none;
    z-index: 99999;
  }
  .header-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 0 0 13px 0;
  }
  .header-nav ul li {
    padding: 10px;
  }
  .header-wrap {
    padding-top: 30px;
    min-height: 210px;
  }
  .header-wrap-bg {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-wrap_logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 578px) {
  body {
    background-color: #fff;
  }
}

@media (max-width: 440px) {
  body {
    background-color: #fff;
  }
}

@media (max-width: 380px) {
  body {
    background-color: #fff;
  }
}

@media (max-width: 360px) {
  body {
    background-color: #fff;
  }
}
/*# sourceMappingURL=main.css.map */